$tiel: #4AC7B0;
$grey: #494141;
$salmon: #FB7461;
$light-grey: #E6E6DD;
$medium-grey: #B9BDB1;
$light-blue: #ACC6CB;
$font-stack: Helvetica, sans-serif;

@font-face {
  font-family: fledgling;
  src: url(./fonts/fledgling-sb.ttf);
  font-weight: bold;
}

body {
  font: 100% $font-stack;
  color: $light-grey;
}

.price {
  color: white;
  background-color: $tiel;
  padding: 5px;
  font-size: 1.2em;
  margin-top: 25px;
  font-weight: bold;
  text-shadow: 0 0 0.5em $grey, 0 0 0.5em $grey;
}

.search {
}

.background {
  background-color: $grey;
}

:focus {
  outline: 0;
}
